footer{
    // background:rgb(124, 123, 123);
    border-top: 2px solid rgb(231, 230, 230);
    margin-top:20px;
    .footer-container{
        margin: 0 auto;
        width: 1080px;
    display:flex;  
    align-items:center;
    height: 80px;
    p{
        line-height: 15px;
        color: rgb(170, 169, 169);
        font-size: 10px;
        span{
            font-weight:550;
        }
    }
}
}